<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>processing</string>
		<string>location</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to determine emergency numbers for your location, and to show you your location on the Map page of the app.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to determine emergency numbers for your location, and to show you your location on the Map page of the app.</string>
</dict>
</plist>
